.App {
}

main {
  background-color: #f2eeec66;
  padding-top: 60px;
}

@media (min-width: 768px) {
  main {
    padding-top: 80px;
  }
}

@media (min-width: 1200px) {
  main {
    padding-top: 100px;
  }
}
