@import "../../../styles/variables";

.cart-item {
  padding: 10px;
  border-bottom: 1px solid $color-black;

  .header {
    .icon {
      cursor: pointer;
      background-color: $color-black;
      color: $color-white;
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }
  }

  .body {
    gap: 10px;

    .info {
      gap: 10px;

      img {
        object-fit: contain;
        width: 40px;
        height: 40px;
      }

      .title {
        color: $color-black;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    .quantity-and-total-price {
      gap: 5px;

      .quantity {
        gap: 10px;

        .icon {
          margin-top: 5px;
          font-size: 14px;
        }

        .text {
          font-size: 18px;
        }
      }

      .total-price {
        gap: 2.5px;

        .icon {
          margin-top: 2.5px;
        }

        .text {
          font-size: 18px;
        }
      }
    }
  }
}
